@import url('../Satoshi_Complete/Fonts/WEB/css/satoshi.css');

  html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

body {
    font-family: 'Satoshi', sans-serif;
  }

/* CSS SECTION 1 */

  .flex-veron img {
    width: 30px;
  }

  .container-fluid {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    color: rgb(255, 255, 255)
  } 

  .grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 60px;
  }
  
  .section {
    width: 100%;
    overflow: hidden;
  }
  
  #section1 {
    background: radial-gradient(circle, rgba(30,186,188,1)0%, rgba(34,50,75,1)100%);
  }

  #section1 a {
  color: rgb(255, 255, 255);
  cursor: pointer;
  text-decoration: none;
  }


  #section1 button img {
    width: 160px;
  }

  .applePay {
    border-radius: 10px;
    width: 136px !important;
  }

  .button-container {
    display: contents;
  }
  .navBar {
    display: flex;
    justify-content: center;    
  }

  .navBar div {
    margin-top: -64px;
  }
  
  .flex {
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
  }
  
  .flex-ul {
    display: flex;
    justify-content: space-between;
  }
  
  .flex-button {
    display: flex;
    justify-content: flex-end;
  }
  
  .flex-button button {
    border: none;
    border-radius: 5px;
    height: 50px;
    width: 120px;
    margin: 0 15px;
  }
  
  .flex-button .noir {
    background-color: black;
    color: white;
  }

  .flex-veron {
    display: flex;
    justify-content: space-around;
    font-size: 50px;
    margin-top: -20px;
  }
  
  #section1 ul li {
    list-style: none;
    font-size: x-large;
    font-weight: 500;
  }
  
  .titre {
    margin-top: 30px;
    text-align: center;
    font-size: 100px;
  }
  
  
  .button-app {
    display: flex;
    justify-content: flex-end;
  }
  .button-app-footer {
    display: flex;
    justify-content: space-around;
  }
  
  .button-app button, .button-app-footer button {
    border:none;
    background-color: #92d05000;
  }
  
  .google-play {
    margin: 0px 30px;
    font-size: 30px !important;
  }

  .copyright {
    width: 100%;
    display: grid;
    justify-content: end;
    font-size: small;
  }


  /* CSS SECTION 2 */
  
  #section2 {
    background-color: rgb(255, 255, 255); 
    display: flex;
    flex-direction: column;
  }

  .cadre-dons {
    border: 2px solid rgba(30,186,188,1);
    background: radial-gradient(circle, rgba(30,186,188,1)0%, rgba(34,50,75,1)100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
    margin-top: 60px;
    justify-content: center;
  }
  
  progress {
    background: rgb(128,126,126);
    background: linear-gradient(274deg, rgba(128,126,126,1) 0%, rgba(255,252,252,1) 100%);
    border: 2px solid rgba(30,186,188,1);
    border-radius: 0;
    height: 40px;
  }
  progress::-webkit-progress-bar {
    background-color: #92d05000;
  }
  
  progress::-webkit-progress-value {
    background-color: rgba(30,186,188,1);
  }
  
  .text-dons-haut {
    display: flex;
    justify-content: center;
    font-size: 240%;
    margin: 50px 0;
  }
  .cadre-don-centre {
    color:rgba(30,186,188,1);
    background-color: white;
    border: 2px solid rgba(30,186,188,1);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .montant-don{
    margin-right: 652px;
  }

  .cadre-don-centre-img {
    display: grid;
    place-items: center;

  }
  .cadre-don-centre-img  button{
    border: none;
    width: 150px;
    margin: 50px 0;
    width: 289px;
    height: 61px;
    background: radial-gradient(circle, rgba(30,186,188,1)0%, rgba(34,50,75,1)100%);
    color: white;
    border-radius: 10px;
    box-shadow: 0px 0px 11px rgba(0, 0, 0, 0.5);
  }
  .text-dons-bas {
    display: flex;
    justify-content: space-between;
  }

  .text-dons-haut span {
    color: white !important;
  }
  
  #section2 span {
      font-weight: 500;
  }

  .cadre-info {
    display: flex;
    flex-direction: column;
    align-items: center;
  }


  /* A SUPPRIMEZ PLUS TARD*/

  .infos {
    border: 2px solid rgba(30,186,188,1);
    background: radial-gradient(circle, rgba(30,186,188,1)0%, rgba(34,50,75,1)100%);
    margin-top: 30px;
    padding: 5px 5px;
    height: 100vh;
  }

  .container-info #Security {
    border: none !important;
    background: white !important;
    color: black !important;
    display: grid;
  }
  .pilier-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    height: 28vh;
  }

  .pilier-container div{
    background: rgb(93,224,230);
    background: linear-gradient(90deg, rgba(93,224,230,1) 0%, rgba(0,74,173,1) 100%);
    height: 100%;
    border-radius: 70px;
    margin: 0 50px;
    padding: 30px 30px;
  
  }










  .center {
    padding: 5px 5px;
  }
  
  .flex-end {
    text-align: end;
  }
  
  .flex-center {
    display: flex;
    justify-content: center;
    margin-top: 120px;
  }
  
  .flex-center .container-info .center img {
    width: 40px;
  }
  
  .flex-center .container-info img {
    width: 400px;
  }

  .partner-container {
    color: black;
    text-align: center;
    margin-top: 50px;
    margin-bottom:  50px;
  }
  .partner {
    display: flex;
    justify-content: space-around;
  }
  .partner img{
    width: 442px;
  }
  .mentionLegal {
    text-align: center;
  }

  .mentionLegal .mail {
    margin-left: -370px;
  }
  .mentionLegal .legal {
    margin-left: -464px;
  }
