.container-fluid {
    width: 98.5vw;
    height: 99vh;
    color: white
  }
  
  .section {
      width: 98.5vw;
      height: 99vh;
      overflow: hidden;
  }
  
  #section1 {
   background: linear-gradient(to bottom, #92D050, #FFFFFF);
  }
  
  #section2 {
      background-color: rgb(255, 255, 255); 
      display: flex;
      flex-direction: column;
  }

  .navBar {
    display: flex;
    justify-content: center;    
  }

  .navBar div {
    margin-top: -64px;
  }
  
  .flex {
      display: flex;
      justify-content: space-between;
      margin-top: 60px;
  }
  
  .flex-ul {
      display: flex;
      justify-content: space-between;
  }
  
  .flex-button {
      display: flex;
      justify-content: center;
  }
  
  .flex-button button {
      border: none;
      border-radius: 5px;
      height: 50px;
      width: 120px;
      margin: 0 15px;
  }
  
  .flex-button .noir {
      background-color: black;
      color: white;
  }
  
  .flex-veron {
      display: flex;
      justify-content: space-around;
      font-size: 50px;
      margin-top: -20px;
  }
  
  ul li {
      list-style: none;
      font-size: x-large;
      font-weight: 500;
  }
  
  .titre {
      margin-top: 30px;
      text-align: center;
      font-size: 100px;
  }
  
  
  .button-app {
      display: flex;
      justify-content: flex-end;
      margin-top: 250px;
  }
  .button-app-footer {
      display: flex;
      justify-content: space-around;
      margin-top: 250px;
  }
  
  .button-app button, .button-app-footer button {
      border-radius: 5px;
      background-color: #92d05000;
      width: 214px;
      font-size: 25px;
  }
  
  .google-play {
      margin: 0px 30px;
      font-size: 30px !important;
  }
  
  .cadre-dons {
      border: 2px solid black;
      background-color: rgb(146 208 80 / 31%);
      display: flex;
      flex-direction: column;
      align-items: center;
      height: 150px;
      align-self: center;
      margin-top: 60px;
      justify-content: center;
  }
  
  progress {
      border: 2px solid black;
        border-radius: 0;
        width: 1600px;
        height: 40px;
  }
  progress::-webkit-progress-bar {
        background-color: #92d05000;
  }
  
  .text-dons-haut {
      display: flex;
      justify-content: flex-start;
  }
  .text-dons-bas {
      display: flex;
      justify-content: space-between;
  }
  
  #section2 span {
      color: #92D050;
      font-weight: 500;
      font-size: 25px;
  }
  
  .cadre-info {
      display: flex;
      justify-content: space-between;
  }
  
  .infos {
      border: 2px solid #92D050;
      background-color: rgb(146 208 80 / 31%);
      height: 400px;
      margin-top: 30px;
  }
  
  .center {
      text-align: center;
  }
  
  .flex-end {
      text-align: end;
  }
  
  .flex-center {
      display: flex;
      justify-content: center;
      margin-top: 120px;
  }
  
  .flex-center img {
      width: 60px;
  }