/* CSS spécifique pour les smartphones */

@media (max-width: 1919.98px) {
  .container-info {
    flex-direction: column;  
   }

   .container-info .img {
    text-align: center;
   }
}


@media (max-width: 575.98px){
  .section {
      flex-direction: column;
      align-items: center;
  }

  .navBar div {
    margin-top: 0px !important;
}


.flex-button button {
  height: 33px !important;
  width: 68px !important;
  margin: 0 5px !important;

}


.flex-veron,
.flex-button {
    flex-direction: row;
    justify-content: flex-start !important;
    width: 100%;
    margin-bottom: 10px;
  }

  .flex-ul {
    gap: 11%;
    flex-wrap: wrap;  
    justify-content: flex-start !important;
  }


  .titre {
    margin-top: 55px !important;
    text-align: center;
    font-size: 39px !important;
  }  

  .button-app {
    margin-top: 0px !important;


}

  .button-app button {
    border-radius: 5px;
    background-color: rgba(146, 208, 80, 0);
    font-size: 14px !important;
  }


  .text-dons-haut {
    flex-direction: column-reverse;
  }


  progress {
    width: 445px !important;
    height: 30px !important;
  }

  .cadre-info {
    display: block !important;
}

.partner-container .partner {
  display: block;
}

.partner-container .partner img{
  width:  300px;
}




}