/* Responsive pour mobile */
@media only screen and (max-width: 768px) {
  /* Titres plus petits sur mobile */
  .titre {
      font-size: 60px !important;
  }
  .titre, .titre p {
      margin: 0 !important;
  }

  /* Alignement vertical pour les éléments */
  .flex-veron {
      flex-direction: column;
      align-items: center;
      font-size: 30px !important;
  }
  .flex-veron p{
    margin: 7px 14px;
  }

  /* Listes et boutons */
  #section1Bas ul li, #section1Haut ul li {
      font-size: large !important;
      text-align: center;
      margin: 15px 15px;
  }

  #section1Bas button img, #section1Haut button img {
      width: 120px !important;
  }

  /* Boutons "Sign Up" et "Login" proportionnels sur mobile */
  .flex-button button {
      width: 100px !important;
      height: 40px !important;
      font-size: 14px !important;
      margin: 10px 5px;
  }

  /* Logo "Veron" et cadenas plus petits sur mobile */
  .veron-logo img {
      width: 70px !important; /* Taille réduite du logo sur mobile */
  }

  .veron-logo h1 {
      font-size: 40px !important; /* Taille du texte réduite sur mobile */
  }

  /* Navbar avec espace entre les liens, toujours sur la même ligne */
  .navBar ul {
      justify-content: space-evenly;
      padding: 0px;
  }

  .navBar div {
    margin-top: 0px !important;
  }

  .button-app-footer {
    display: flex;
    justify-content: center;
    flex-direction: column-reverse;
    align-items: center;
  }

  .mentionLegal .mail {
    margin-left: 0px !important;
  }

  .mentionLegal .legal {
    margin-left: 0px !important;
  }
  .mentionLegal div {
    text-align: center;
  }


  /* Cadre des dons */
  .cadre-dons {
    margin-top: 30px !important; /* Réduire l'espacement en haut pour mobile */
    padding: 20px !important;
    flex-direction: column !important; /* Assurer une disposition en colonne */
}

  /* Barre de progression des dons */
  progress {
      width: 100% !important; /* Barre de progression sur toute la largeur */
      height: 30px !important; /* Hauteur réduite pour mobile */
  }

  /* Textes du haut */
  .text-dons-haut {
      font-size: 4vw !important; /* Texte responsive selon la largeur de l'écran */
      margin: 20px 0 !important; /* Espacement réduit pour mobile */
  }

  /* Cadre central pour les dons */
  .cadre-don-centre {
      flex-direction: column !important; /* Disposition verticale sur mobile */
      justify-content: center !important; 
      padding: 10px !important;
  }

  /* Boutons dans le cadre central */
  .cadre-don-centre-img button {
      width: 200px !important; /* Réduire la largeur des boutons sur mobile */
      height: 50px !important;
      font-size: 14px !important; /* Taille du texte adaptée pour mobile */
      margin: 20px 0 !important;
  }

  /* Texte du bas */
  .text-dons-bas {
      font-size: 3.5vw !important; /* Police responsive pour mobile */
  }

  /* Ajustement du montant des dons */
  .montant-don {
      margin-right: 0 !important; /* Supprimer la marge sur mobile */
      text-align: center !important;
  }


 /* Container global : disposition en colonne pour mobile */
 .container-info {
  display: flex;
  flex-direction: column !important; /* Disposition en colonne sur mobile */
  align-items: center;
}
.infos {
  height: auto !important;
}

.flex-center {
  margin-top: 0px !important;
}

.container-info .about-container, .container-info .product-container, .container-info .support-container, .container-info .mobile-container, 
.container-info .veron-container, .container-info #security {
  display: grid;
  grid-template-columns: 1fr !important;
  place-items: center;

}

/* About section */
.about-container {
  flex-direction: column !important; /* Empiler image et texte */
}

.container-info .about-container .about-text {
    width: 100% !important;
}

.about-container img {
  width: 100% !important; /* Image à 100% de la largeur pour mobile */
  max-width: 300px;
  margin-bottom: 20px; /* Espacement entre l'image et le texte */
}

.about-text {
  text-align: center !important; /* Centrer le texte sur mobile */
  padding: 0 20px;
}

/* Product section */
.product-container {
  flex-direction: column-reverse !important; /* Image en dessous du texte pour mobile */
}

.product-container img {
  width: 100% !important;
  max-width: 300px;
  margin-top: 20px; /* Espacement entre le texte et l'image */
}

.product-text {
  text-align: center !important;
  padding: 0 20px;
}

/* Mobile section */
.mobile-container {
  flex-direction: column !important; /* Empiler l'image et le texte */
}

.mobile-img img {
  width: 100% !important;
  max-width: 300px;
  margin-bottom: 20px;
}

.container-info .mobile-container .mobile-text h3 {
  width: 100% !important;
}
.mobile-text {
  text-align: center !important;
  padding: 0 20px;
}

.container-info .mobile-container .mobile-text div {
  width: 100% !important;
}

/* Security section */
.security-img {
  width: 100%;
  text-align: center;
}

.security-img img {
  width: 100% !important;
  max-width: 300px;
  margin-bottom: 20px;
}

.pilier-container {
  text-align: center !important;
  padding: 0 20px;
}

/* Support section */
.support-container {
  flex-direction: column !important; /* Empiler l'image et le texte */
}

.suppor-img-mobile{
  text-align: center;
  display: flex;
  flex-direction: column;
}
.suppor-img-mobile img {
  width: 100% !important;
  max-width: 300px;
  margin-bottom: 20px;
}

.support-img-appli {
  grid-template-rows: 0.1fr !important;
  position: relative !important;
  left: 16% !important;
  transform: translateY(-132%) !important;
}
.support-img-appli img {
  width: 200px !important;
}

.support-text {
  text-align: center !important;
  padding: 0 20px;
}

.support-text div {
  width: 100% !important;
}

/* Veron section */
.veron-container {
  flex-direction: column !important; /* Empiler l'image et le texte */
}

.veron-pc img {
  width: 100% !important;
  max-width: 300px;
  margin-bottom: 20px;
}

.veron-text {
  text-align: center !important;
  padding: 0 20px;
}

/* Ajustement des titres */
h3 {
  font-size: 24px !important; /* Taille des titres réduite pour mobile */
  text-align: center;
}

/* Ajustement des paragraphes */
p {
  font-size: 16px !important; /* Taille des paragraphes adaptée pour mobile */
  line-height: 1.5 !important; /* Espacement entre les lignes pour améliorer la lisibilité */
}

/* Ajustement des liens dans le texte */
a {
  font-size: 16px !important; /* Taille des liens en cohérence avec le texte */
}

/* Ajustement des sous-titres (h5) */
h5 {
  font-size: 18px !important; /* Taille des sous-titres légèrement réduite pour mobile */
}

.partner-container {
  display: flex;
  flex-direction: column !important; /* Mettre les images en colonne */
  align-items: center;
  margin-top: 50px;
}

.partner {
  display: flex;
  flex-direction: column;
}

.partner-container img {
  width: 80% !important; /* Ajuste la taille des images pour mobile */
  max-width: 300px;
  margin-bottom: 20px; /* Espace entre chaque image */
}

}




@media only screen and (min-width: 1440px) and (max-width: 1920px) {
  .infos {
    height: auto !important;
  }
}